<div>
    <h3>User Exercises </h3>

    <div ng-controller="userExercisesController">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>USER ID</th>
                <th>EXERCISE ID</th>
                <th>CREATED DATE</th>
            </tr>
            </thead>
            <tr ng-repeat="userExercise in userExercises">
                <td>
                                <span editable-select="userExercise.userId"
                                      e-name="userid"
                                      onshow="loadUsers()"
                                      e-form="userexerciseform"
                                      e-ng-options="user.id as user.id for user in users"
                                      e-required>
                                  {{ showUsers(userExercise)}}
                                </span>
                </td>
                <td>
                                <span editable-select="userExercise.exerciseId"
                                      e-name="exerciseid"
                                      onshow="loadExercises()"
                                      e-form="userexerciseform"
                                      e-ng-options="exercise.id as exercise.id for exercise in exercises"
                                      e-required>
                                  {{ showExercises(userExercise)}}
                                </span>
                </td>
                <td>
                                <span e-name="id"
                                      e-form="userexerciseform"
                                      e-required>
                                    {{ userExercise.creationDate}}
                                </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="userexerciseform" onbeforesave="saveUserExercise($data, userExercise)"
                          ng-show="userexerciseform.$visible" class="form-buttons form-inline"
                          shown="inserted == userExercise" oncancel="cancel()">
                        <button type="submit" ng-disabled="userexerciseform.$waiting" class="btn btn-primary">
                            Save
                        </button>
                        <button type="button" ng-disabled="userexerciseform.$waiting"
                                ng-click="userexerciseform.$cancel()"
                                class="btn btn-default">
                            Cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!userexerciseform.$visible">
                        <button class="btn btn-danger" ng-click="removeUserExercise($index)">Delete</button>
                    </div>
                </td>
            </tr>
        </table>
        <button class="btn btn-default" ng-click="addUserExercise()">Add User Exercise</button>
    </div>
</div>