<div>
    <div class="row">
        <div class="col-lg-6">
            Search: <input type="text" ng-model="searchExercise"/>
            {{ searchText }}
        </div>
        <div class="col-lg-6">
        </div>
    </div>

    <br/>

    <h3>Exercices </h3>

    <div ng-controller="exercisesController">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>DESCRIPTION</th>
            </tr>
            </thead>
            <tr ng-repeat="exercise in exercises | filter : searchExercise">
                <td>
                                <span e-name="id" e-form="exerciseform" e-required>
                                  {{ exercise.id}}
                                </span>
                </td>
                <td>
                                <span editable-text="exercise.name" e-name="name" e-form="exerciseform" e-required>
                                  {{ exercise.name }}
                                </span>
                </td>
                <td>
                                <span editable-text="exercise.description" e-name="description" e-form="exerciseform"
                                      e-required>
                                  {{ exercise.description }}
                                </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="exerciseform" onbeforesave="saveExercise($data, exercise)"
                          ng-show="exerciseform.$visible" class="form-buttons form-inline"
                          shown="inserted == exercise" oncancel="cancel()">
                        <button type="submit" ng-disabled="exerciseform.$waiting" class="btn btn-primary">
                            Save
                        </button>
                        <button type="button" ng-disabled="exerciseform.$waiting"
                                ng-click="exerciseform.$cancel()"
                                class="btn btn-default">
                            Cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!exerciseform.$visible">
                        <button class="btn btn-primary" ng-click="exerciseform.$show()">Edit</button>
                        <button class="btn btn-danger" ng-click="removeExercise($index)">Delete</button>
                    </div>
                </td>
            </tr>
        </table>

        <button class="btn btn-default" ng-click="addExercise()">Add Exercise</button>
    </div>

</div>