<!DOCTYPE html>
<html ng-app="customerApp">
<head>
    <title>Angular App</title>
</head>
<body>

<h1>Angular App</h1>

<div ng-controller="customerController">
    Search: <input type="text" ng-model="searchText"/>
    {{ searchText }}
    <br/>

    <h3>Customer </h3>
    <table>
        <tr ng-repeat="cust in customers | filter:searchText ">
            <td>{{cust.name}}</td>
            <td>{{cust.total | currency}}</td>
        </tr>
    </table>
</div>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js">
</script>
<script>
    var app = angular.module('customerApp', []);

    app.controller('customerController', function ($scope, customerFactory) {
        function init(){
            customerFactory.getCustomers().success(function(data){
                $scope.customers = data;
            });
        }
        init();
    });

    app.factory('customerFactory', function ($http) {
        var factory = {};
        factory.getCustomers = function (){
            return $http.get('/exercises.json');
        };
        return factory;
    });

</script>

</body>
</html>