<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!--  angular-xeditable CSS -->
    <link href="./assets/libs/angular-xeditable/css/xeditable.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./assets/css/home.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">

        <h1>Welcome to Exercises</h1>

        <br/>

        <div class="row">
            <div class="col-lg-6">
                <div>
                    <div class="row">
                        <div class="col-lg-6">
                            Search: <input type="text" ng-model="searchExercise"/>
                            {{ searchText }}
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>

                    <br/>

                    <h3>Exercices </h3>

                    <div ng-controller="exercisesController">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>DESCRIPTION</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="exercise in exercises">
                                <td>
                                <span editable-text="exercise.id" e-name="id" e-form="rowform" e-required>
                                  {{ exercise.id}}
                                </span>
                                </td>
                                <td>
                                <span editable-text="exercise.name" e-name="name" e-form="rowform" e-required>
                                  {{ exercise.name }}
                                </span>
                                </td>
                                <td>
                                <span editable-text="exercise.description" e-name="description" e-form="rowform"
                                      e-required>
                                  {{ exercise.description }}
                                </span>
                                </td>
                                <td style="white-space: nowrap">
                                    <!-- form -->
                                    <form editable-form name="rowform" onbeforesave="saveExercise($data, exercise.id)"
                                          ng-show="rowform.$visible" class="form-buttons form-inline"
                                          shown="inserted == exercise">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                            Save
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting"
                                                ng-click="rowform.$cancel()"
                                                class="btn btn-default">
                                            Cancel
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
                                        <button class="btn btn-danger" ng-click="removeExercise($index)">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <button class="btn btn-default" ng-click="addExercise()">Add Exercise</button>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>

</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

<!-- ANGULAR COMPONENTS -->
<script type="text/javascript" src="./app/app.module.js"></script>
<script type="text/javascript" src="./app/components/home/homeController.js"></script>
<script type="text/javascript" src="./app/shared/httpFactory.js"></script>

<!-- angular-xeditable component -->
<script type="text/javascript" src="./assets/libs/angular-xeditable/js/xeditable.min.js"></script>

</body>
</html>
